[Unit]
Description=qBittorrent
After=network.target

[Service]
User=qbit
Group=qbit
ExecStart=/usr/bin/qbittorrent-nox
Restart=on-failure

[Install]
WantedBy=multi-user.target
