---
http:
  routers:
    pihole:
      rule: Host(`pihole.sladnet.xyz`)
      service: pihole
      tls:
        certResolver: letsencrypt
        domains:
          - main: "sladnet.xyz"
            sans:
              - "*.sladnet.xyz"
  services:
      pihole:
        loadBalancer:
          servers:
            - url: "http://{{hostvars.proxmox.ansible_host}}/admin"