---
http:
  routers:
    traefik:
      rule: Host(`traefik.sladnet.xyz`)
      service: traefik
      tls:
        certResolver: letsencrypt
        domains:
          - main: "sladnet.xyz"
            sans:
              - "*.sladnet.xyz"
  services:
      traefik:
        loadBalancer:
          servers:
            - url: "http://{{ansible_host}}:8080"