---
http:
  routers:
    truenas:
      rule: Host(`truenas.sladnet.xyz`)
      service: truenas
      tls:
        certResolver: letsencrypt
        domains:
          - main: "sladnet.xyz"
            sans:
              - "*.sladnet.xyz"
  services:
      truenas:
        loadBalancer:
          servers:
            - url: "http://{{hostvars.truenas.ansible_host}}"
