"use strict";
module.exports = {
    public: false,
    host: undefined,
    port: 9000,
    bind: undefined,
    reverseProxy: true,
    maxHistory: 10000,
    https: {
        enable: false,
        key: "",
        certificate: "",
        ca: "",
    },
    theme: "default",
    prefetch: false,
    disableMediaPreview: false,
    prefetchStorage: false,
    prefetchMaxImageSize: 2048,
    prefetchMaxSearchSize: 50,
    prefetchTimeout: 5000,
    fileUpload: {
        enable: false,
        maxFileSize: 10240,
        baseUrl: null,
    },
    transports: ["polling", "websocket"],
    leaveMessage: "The Lounge - https://thelounge.chat",
    defaults: {
        name: "Libera.Chat",
        host: "irc.libera.chat",
        port: 6697,
        password: "",
        tls: true,
        rejectUnauthorized: true,
        nick: "thelounge%%",
        username: "thelounge",
        realname: "",
        join: "#thelounge",
        leaveMessage: "",
    },
    lockNetwork: false,
    messageStorage: ["sqlite", "text"],
    useHexIp: false,
    webirc: null,
    identd: {
        enable: false,
        port: 113,
    },
    oidentd: null,
    ldap: {
        enable: true,
        url: "ldap://{{ hostvars['lldap'].ansible_host }}:3890",
        tlsOptions: {},
        primaryKey: "uid",
        searchDN: {
            rootDN: "uid=bind,ou=people,dc=sladnet,dc=xyz",
            rootPassword: "{{ hostvars['lldap'].bind_password }}",
            filter: "(memberOf=cn=thelounge,ou=groups,dc=sladnet,dc=xyz)",
            base: "dc=sladnet,dc=xyz",
            scope: "sub",
        },
    },
    debug: {
        ircFramework: false,
        raw: false,
    },
};
