---
http:
  routers:
    {{ traefik_service }}:
      rule: Host(`{{ traefik_service }}.sladnet.xyz`)
      service: {{ traefik_service }}
      tls:
        certResolver: letsencrypt
        domains:
          - main: "sladnet.xyz"
            sans:
              - "*.sladnet.xyz"
  services:
      {{ traefik_service }}:
        loadBalancer:
          servers:
            - url: "http://{{ ansible_host }}:{{ app_port }}"