[Unit]
Description=Traefik service

[Service]
Environment=CLOUDFLARE_EMAIL="{{ cloudflare_email }}"
Environment=CLOUDFLARE_DNS_API_TOKEN="{{ cloudflare_dns_api_token }}"
User=traefik
Group=traefik
ExecStart=traefik

[Install]
WantedBy=multi-user.target